body {

    color: #f5eae0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #323130;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.homepage {
    background-image: url(wallpaperflare.com_wallpaper.jpg);
    background-size: cover;
    background-color:  #323130;
    width: 98vw;
    height: 98vh;
}
.aboutus {
    background-image: url(wallpaperflare.com_wallpaper.jpg);
    background-size: cover;
    background-color:  #323130;
    width: 98vw;
    height: 98vh;   
}
.visualizations {
  background-color:  #323130;
  width: 98vw;
  height: 98vh;
}
.machine {
  background-image: url(wallpaperflare.com_wallpaper.jpg);
  background-size: cover;
  background-color:  #323130;
  width: 98vw;
  height: 98vh;
}
.conclusions {
  background-image: url(wallpaperflare.com_wallpaper.jpg);
  background-size: cover;
  background-color:  #323130;
  width: 98vw;
  height: 98vh;
}
.research {
  background-color:  #323130;
  width: 98vw;
  height: 98vh;
}
.hometext {
  width: 100%;
  height: 100%;
  font-size: 26px;
  position:relative;
  left: 20px;
  right: 40px;
}
.machinetext {
  width: 100%;
  height: 100%;
  font-size: 26px;
  position:relative;
  left: 20px;
  right: 40px;
}
.researchtext {
  width: 100%;
  height: 100%;
  font-size: 26px;
  position:relative;
  left: 20px;
  right: 40px;
}
.conclusionstext {
  width: 100%;
  height: 100%;
  font-size: 26px;
  position:relative;
  left: 20px;
  right: 40px;
}
.aboutustext {
  width: 100%;
  height: 100%;
  font-size: 26px;
  position:relative;
  left: 20px;
  right: 40px;
}

p {
  font-size: 20px;
  margin-right: 150px;
}

.breaking{    
    width:500px;
    word-wrap: break-word;
}

#marg div {
  margin-left: 45px;
  margin-right: 150px;
}
